/* ======================================= main styling ============================================ */
header {
  padding: 2%;
  display: flex;
  justify-content: flex-end;
}

header button {
  margin-left: 2%;
  border: 1px solid;
  border-radius: 26px;
  padding: 1%;
  box-shadow: 1px 1px 4px;
  font-weight: bold;
}

h1 {
  font-size: 2.6rem;
  text-align: center;
  color: red;
}

p {
  margin: 2% 0;
  font-size: 1.3rem;
  text-align: center;
}

form {
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2%;
  box-shadow: 2px 2px 8px 0px black;
  font-size: 1.3rem;
}

input {
  margin-bottom: 2%;
  border: 1px solid black;
  outline: none;
  display: block;
}

.shape {
  border-width: 2px;
  border-radius: 20px;
}